.Main.clearfix
  .clsFeatured_Media.clearfix
    %h2 Featured Quizzes
    %ul.clearfix
      -@featured_lessons.each do |fl|
        %li
          %a{:href => "/review/#{fl.id}"}
            %img{:alt => "thumb1", :src => "fl.imageurl"}/
          %h4
            %a{:href => "/review/#{fl.id}"}= fl.name
  .clsLatest_Media.clearfix
    %h2 Latest Quizzes
    %ul.clearfix
      -@latest_lessons.each do |ll|
        %li
          %a{:href => "#"}
            %img{:alt => "thumb3", :src => "images/LM_img1.jpg"}/
          %h4
            %a{:href => "#"} Babylon A.D
          %p Lorem ipsum sit dolor asectetur aipisiing elit sed eiumnod tempoir incididunt aliqua.
    .clsPage_No.clearfix
      %ul.page_no.clearfix
        %li
          %a{:href => "#"} <<
        %li
          %a{:href => "#"} 1
        %li.active
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li.none
          %a{:href => "#"} ..
        %li
          %a{:href => "#"} >>
.clsSidebar.clearfix
  .clsLogin
    -unless current_user 
      =render 'devise/sessions/new'
    / %h2 Login
    / %p.LoginUser
    /   user name
    /   %input.clsLoginUser{:type => "text"}/
    / %p.Password
    /   pass word
    /   %input.clsPassword{:type => "text"}/
    / %p
    /   %span Remember me
    /   %input.clsRememberMe{:type => "submit", :value => "LOGIN"}/
    / %p.ForgotPassword
    /   %a{:href => "#"} Forgot Your Password?
    / %p.NoAccount
    /   No Account Yet?
    /   %a{:href => "#"} Register
  .clsCategories
    %h2 Categories
    %p Biology
    %p Chemistry
    %p Physics