%style 
  \#main .shell{width:inherit;}

- content_for :title, "My Lessons"
.index
  .content
    .title
      %h1 
        =link_to 'My Lessons', "/"
    .lessons
      - @lessons.each do |lesson|
        .lesson{:class => cycle('even', 'odd')}
          %a.lesson_link{:href => "/lessons/#{lesson.id}"}= lesson.name
          .clr
        .clr

= link_to 'New Lesson', new_lesson_path
