// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lessons {
  width: 951px;
  margin: 50px auto;

  .lesson {
    padding:0 5px;
    border-top:1px solid #e4e4e4;

    &:last-child {
      // border-bottom:1px solid #e4e4e4;
    }

    &.even {
      background-color:#fdfdfd;//#f5f5f5;
    }

    &.odd {
      // background-color:#f5f5f5;
    }

    a {
      color:#666 !important;
      font-size:16px;
      line-height:39px;
      float:left;
    }  
  }
}

#create_quiz {
  #media {
    z-index:1;
    width:710px;
    height:399px; //355
    //float:right;
    position:relative;
    margin:0 auto;

    #video_container {
      height:399px;
      #video {
        height:399px;//315
        background-color:#f9f9f9;
      }

      #video_control{
        position:absolute;
        width:120px;
        height:120px;
        cursor:pointer;
        top:50%;
        left:50%;
        margin:-80px 0 0 -60px;

        display:none;
      }
    }


    #video_control.play{
      background:url('reviewer/play.png') no-repeat center center;
    }

    #video_control.replay{
      background:url('reviewer/replay.png') no-repeat center center;
    }

    #video_control.pause{
      background:url('reviewer/pause.png') no-repeat -99999px;
    }

    #video_container:hover #video_control.pause{
      background-position:center center;
    }

    #video_container.playing:hover .progressBar{
      display:block;
    }

    #progress_bar_container {
      height:30px;

      #progress_bar {
          width:708px; //558 for small player
          height:10px;
          border:1px solid #888;
          // border-color:#47A6D8;
          background-color:#fdfdfd;
          overflow:visible !important;


        .elapsed {
            height:10px;
            width:0%;
            background-color:#218dd2;//#bbb;//#218dd2;//#47A6D8; //a9d9ed
            overflow:visible !important;
          
        }

        #q-markers {
          position:absolute;
          width:708px;//558 for small player
          overflow:visible !important;

          .q-marker-spacer {
            position:absolute;
            left:-1px;

            .q-marker {
              height:20px;
              width:1px;
              // border-right:1px solid #0066b2;

              .q {
                img.small{
                  height:14px;
                  width:14px;
                  background-image:url(reviewer/q-sprites-small3.png);
                  position:relative;
                  top:18px;
                  left:-7px;
                  cursor: pointer;
                }
                img.large {
                  height:28px;
                  width:29px;
                  background-image:url(reviewer/q-sprites-large2.png);
                  position:relative;
                  top:15px;
                  left:-14px;
                  z-index:1;
                }  
              }

              &.q-marker.unanswered{
                background-color:#999;
                border-left:1px solid #bbb;
                .q {
                  img.small{
                    background-position:-42px 0px;
                  }
                  img.large{
                    background-position:-87px 0px;
                  }
                }
              }

              &.q-marker.wrong{
                background-color:#e94325;//#218dd2;//#666;
                border-left:1px solid #f29286;
                .q {
                  img.small{
                    background-position:-28px 0px;
                  }
                  img.large{
                    background-position:-58px 0px;
                  }
                }
              }

              &.q-marker.first-correct{
                background-color:#0066b2;//#218dd2;//#666;
                border-left:1px solid #65b6de;
                .q {
                  img.small{
                    background-position:-14px 0px ;
                  }
                  img.large{
                    background-position:-29px 0px;
                  }
                }
              }

              &.q-marker.multi-correct{
                background-color:#0066b2;//#218dd2;//#666;
                border-left:1px solid #65b6de;
                .q {
                  img.small{
                    background-position:0px 0px;
                  }
                  img.large{
                    background-position:0px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #question_area {
    margin-top: 30px;
    height:100px;
    width:710px;
    margin: 30px auto;
    text-align: center;

    #question_container {
      background: #F0F0F0;
      height: 295px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;    
      margin-top: 45px;  
      
      #question {
        width: 40%;
        height: 260px;
        float: left;

        #question_input {
          float: none;
          height: 241px;
          margin-top: 12px;
          background: white;
        }
      }

      #answers {
        width: 60%;
        float: left;
        padding-top: 5px;

        .answer {
          float: right;
          margin-right: 15px; 
          
          .answer_field {
            background: white;
          }

          .indicator {
            height: 0px;
          }         
        }
      }

      #finish {
        float: right;
        margin-right: 15px;
      }

/*      #add_question {
        display: block;
      }

      #question {
        margin: auto;
      }*/
    }
  }
}