// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#templates {
    display: none;
    /*visibility: hidden;*/
}

#activities {
    margin: 0px 15px 0px 105px;
}

.activity_group {
    display: block;
}

.activity_content {
    display: block;    
}

.activity_left_column {
    width: 65%;
    height: 500px;
    float: left;
    padding: 0px 0px 50px 0px;
}

.activity_right_column {
    width: 25%;
    height: 500px;
    float: right;
    margin-right: 45px;
    padding: 0px 0px 50px 0px;
}

.question_group {
    height: 174px;
}

.question_area {
    height: 150px;
    width: 90%;
    float: right;
    margin: 8px 0px 8px 0px;
    font-size: 22px;
    background-color: #F7F7F7;
}


.answer_group {
    height: 348px;
    width: 100%;
}

.answer {
    width: 90%;
    float: right;
    display: block;
    height: 65px; 
    position: relative;  
}

.answer a {
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
    font-size: 16px;
    color: blue;
}

.answer:hover a {
    display: block;
    background-color: #F5F5F5;
}

.indicator {
    width: 10%;
    float: left; 
    height: 65px;
    text-align: center;
    padding-top: 25px;
}

.indicator_mark {
  display: inline;
}

.correct {
  width: 30px;
  height: 30px; 
  margin-top: -6px; 
}

.incorrect {
  width: 20px;
  height: 20px;  
}
.answer_space {
    width: 88%;
    float: right;
    height: 65px;
}

.add_answer {
    display: block;
    float: right;
    text-decoration: underline;
    width: 20%;
    text-align: right;
    cursor: pointer;
}

.add_answer:hover {
    color: blue;
}


.answer_field {
    display: inline;
    height: 45px;
    width: 100%;
    float: right;
    margin: 8px 0px 8px 0px;
    font-size: 18px;
    background-color: #F7F7F7;    
}

ul.token-input-list-facebook {
    width: 90% !important;
    float: right !important;
    margin: 12px 0px 10px 0px !important;
}

li.token-input-input-token-facebook {
    height: 30px !important;
}

.resource_field {
    width: 400px; 
    height: 22px;
    background-color: #F5F5F5;
    font-size: medium;     
    display: block;
}


.header {
    margin: auto;
    padding: 3px 15px 0px 15px;
    opacity: 0.8;
    height: 25px;
    display: block;
    width: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFF;
    -moz-box-shadow: 4px 4px 10px 1px #BFBFBF;
    -webkit-box-shadow: 4px 4px 10px 1px #BFBFBF;
    box-shadow: 4px 4px 10px 1px #BFBFBF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.header_text_container {
    width: 94%;
    height: 100%;
    display: inline;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.header_text {
    font-size: 16px;
    color: black;
    white-space: nowrap; 
    display: inline;     
}

.feedback_body {
  background: white;
  width: 98%;
  height: 130px;
  margin: auto;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -khtml-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;    
  
  .feedback_select {
    height: 100%;
    width: 45%;
    float: left;
    padding: 5px 0px 0px 20px;

    h3 {
      line-height: 2px;
    }

    .feedback_item {
      display: block;
    }

    .question_feedback {
      width: 50%;
      float: left;
    }

    .media_feedback {
      width: 50%;
      float: right;
    }

    .topics_feedback {
      width: 33%;
      float: right;
    }
  }

  .feedback_comment {
    height: 100%;
    width: 45%;
    float: right;

    textarea {
      height: 75px;
      margin-top: 16px;
      width: 90%;
      font-size:16px;
      background-color: #F7F7F7;
    }

    input {
      position: relative;
      bottom: 1px;
      float: right;
      right: 9%;
    }
  }
}

.controls {
  width: 60px;
  height: 25px;
  position: absolute;
  right: 28px;

  .question_feedback_container {
    height: 100%;
    float: right;
    display: inline;
    text-align: center; 

    img {
      height: 21px;
    }
  }

  .delete_question_container {
    height: 100%;
    float: right;
    display: inline;
    text-align: center;

    .delete_question {
        float: right;
        margin: 2px 5px 0px 10px;
    }

    .delete_question:hover {
        color: blue;
        cursor: default;
    }        
  }
}



.menu {
  background-color: #F5F5F5;
  position: fixed;
  left: 15px;
  top: 172px;
  width: 75px;
  height: 68px;    
  padding-top: 10px;
  margin-top: -2.5em;
  text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;  
  -moz-box-shadow: 20px 20px 20px 20px #ccc;
  -webkit-box-shadow: 6px 6px 6px 6px #ccc;
  box-shadow: 4px 4px 10px 1px #ccc;   
  
  .add_question_image {
    width: 100%;
    position: relative;
    bottom: 8px;    
  }
}



.media_preview {
  width: 100%;
  height: 100%;
}

.question_media_box {
  width: 150px;
  height: 150px;
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
  margin-top: 8px;
  position: relative;
}

.question_media_box a {
    position: absolute;
    top: 0px;
    right: 5px;
    display: none;
    color: blue;
}

.question_media_box:hover a {
    display: block;
    background-color: #F5F5F5;
}



.answer_media_box {
    width: 150px;
    height: 150px;
    border-style: dashed;
    border-width: 2px;
    border-color: gray;
    margin-top: 16px;
    position: relative;
}

.answer_media_box a {
    position: absolute;
    top: 0px;
    right: 5px;
    display: none;
}

.answer_media_box:hover a {
    display: block;
    background-color: #F5F5F5;
    color: blue;
}

.media_input {
    width: 400px;
    height: 35px;
    font-size: 16px;
    margin: 5px 5px;
}

.time_input {
    height: 35px;
    width: 40px;
    font-size: 16px;
    margin: 5px 5px;   
}

#article_preview_field {
    width: 100%;
    max-height: 340px;
    /*max-width: 900px;*/
    /*overflow: hidden;*/
    overflow-y: scroll;
}

.ui-dialog-titlebar {
    /*display: none;*/
}


.highlighted > p {
    background: #E3EB5B;    
}

.highlighted > dd {
    background: #E3EB5B;    
}


.highlighted > li {
    background: #E3EB5B;       
}


.highlighted {
    background: #E3EB5B;    
}

.form_label {
    font-weight: bold;
    display: block;
}



#video_data {
    height: 400px; 
    width: 54%; 
    display: inline;
    float: left;    
}


#video_search_results {
    height: 330px;
    overflow: auto;   
}

.video_search_result {
    padding: 10px 15px 10px 8px;
    background: #CCC;
    margin: 10px 15px 0px 5px;    
    -moz-box-shadow: 1px 3px 2px 0px #ccc;
    -webkit-box-shadow: 1px 3px 2px 0px #ccc;
    box-shadow: 1px 3px 2px 0px #ccc;      
}

#video_time_container {
    text-align: center;
    padding-top: 10px;    
}

.video_search_result_label{
    overflow: hidden;
}

#video_preview {
    /*width: 45%;   */
    display: inline;
    float: right;
    padding: 0px;
    margin: 0px;
}

#video_preview_frame {
    padding: 0px;
    margin: 0px;
    display: block;
}

#slider {
    width: 97%;
    margin: auto;
}




#image_search_controls {
    float: left;   
    width: 500px; 
}

#image_search_preview {
    width: 300px;
    height: 300px;
    margin: 15px 15px 0px 0px;
    float: right;
    background: white;
}

#image_preview {
    width: 100px;
    height: 100px;
    display: inline;
}

#image_container {
    display: inline;
}

#search_preview {
    height: 250px;
    width: 100%;
}

#preview {
  border: 0px;
  width: 100% !important;
}

#next_page {
    font-size: 24px;
    display: inline;
    cursor: pointer;
    float:  right;
    margin-right: 85px;
    visibility: hidden;
}

#previous_page {
    font-size: 24px;   
    display: inline;
    cursor: pointer;
    visibility: hidden;
}
/*.question_area {
    height: 100px;
}*/

.form_field {
    width: 400px;
    height: 35px;
    font-size: 18px;
}

.chapter_container {
  display: block;
  margin: 10px;
  height: 30px;
  /*background: blue;*/
}

.status {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 2px 2px 4px 2px;
  color: white; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;             
}

.publish {
  background-color: #07B31B;
  color: black;
  font-weight: bold;
  cursor: pointer;   
}

.inactive {
  background-color: #07B31B;
  color: black;
  font-weight: bold;
  cursor: pointer; 
}

.active {
  background-color: #FCD349;
}

.complete {
  background-color: #6B63FF;
}

.published {
  background-color: #ccc;
} 


#media_container {
  text-align: center;
  height: 50px;
  
  #media_link {  
    color: blue;
    font-size: 16px;
  }  
}

#add_chapters_area {
  width: 600px;
  height: 300px;
  font-size: 18px;
}

#book_name {
  display: block;
  margin-bottom: 30px;
}

.inactive_line_title {
  display: inline;
  font-weight: bold;
}

.status_bar {
  height: 35px;
  margin: 5px 15px;
  background: white;
  position: relative;
  text-align: center;

  .status_bar_title {
    font-size: 16px;
    position: relative;
    top: 7px;
    font-weight: bold;
    display: inline;
    bottom: -6px;
  }

  #chapter_status {
    display: inline;
    position: absolute;
    right: 15px;
    top: 6px;
  }

  #preview_link {
    cursor: pointer;
    position: absolute;
    left: 38px;
    top: -5px;
    color: blue;
    font-size: 13px;
  }

  a {
    color: blue;
    position: relative;
    top: 7px;
  }

  .edit_link{
    position: relative;
    top: 1px;
  }  
}