/* CSS Document */
body{
  color:#bababa;
  font:normal 12px trebuchet MS;
  font-size:80%;  /*-- Enables font size scaling in MSIE  --*/
  margin:0;
  padding:0;
  text-align:left;
  //background:transparent url(header_bg.jpg) repeat-x scroll 0 0;
}
html > body{
  font-size:9.5pt;
}
html, body {
  height: 100%;
}

form,table,p,h1,h2,h3,h4,h5,h6,ul,li,div,dl{
  margin:0;
  padding:0;
  font-size:100%;
}
li{
  padding:0;
  margin:0;
  list-style:none;
  display:inline;
}
a{
  text-decoration:none;
  outline:none;
  color:#303030;
}
img{
  border:0;
  vertical-align:top;
}
.clsFloatLeft{
  float:left;
}
.clsFloatRight{
  float:right;
}
/* CSS Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
              /*END OF COMMON CODE*/

.Container{
  width:972px;
  margin:0 auto;
}

.Header{
  width:972px;
  margin:0 auto;
}
.clsLogo{
  margin:0 auto;
  width:210px;
  float:left;
  height:95px;
}

.clsLogo h1 a{
  font:normal 50px Dayton;
  line-height:50px;
}
.clsLogo h1 a span{
  color:#fe0004;
}
.clsLogo h4{
  font:normal 12px Helvetica LT Condensed;
  color:#ababab;
  margin-top:17px;
}
.clsMenu{
  background:transparent url(menu_back.jpg) repeat-x scroll 0 0;
  line-height:55px;
  float:right;
  margin-top: 10px;
  width: 750px;
  //clear:both;
}
.clsMenu ul{
  width:750px;
}
.clsMenu li{
  width:80px;
  margin-right:15px;
}
.clsMenu li a{
  color:#FFFFFF;
  font:normal 12px Helvetica LT Condensed;
  line-height:55px;
  padding:20px 12px 19px;
  text-align:center;
}

.clsMenu li.user{
  width:200px;
  margin-right:5px;
  float:right;
}

.clsMenu li.user a:hover{
   background:transparent url(menu_back.jpg) repeat-x scroll 0 0;
}

.clsMenu li a:hover,.clsMenu li a.active{
  background:url(menu_hover.jpg) no-repeat left top;
  color:#FF0000;
}
.Content{
  background:#282929;
  margin:14px 0 0 0;
  padding-bottom:15px;
}
.Main{
  float:left;
  width:665px;
  padding:23px 0 0 13px;
}
.clsFeatured_Media,.clsNew_Members,.clsLatest_Media{
  background:#1a1b1b;
  border:1px solid #4B4B4B;
  margin:5px;
  border-top:0;
}
.clsLatest_Media ul{
  padding:30px 0 0 14px;
}
.clsFeatured_Media ul,.clsNew_Members ul{
  padding-left:28px;
}
.clsFeatured_Media li,.clsNew_Members li{
  padding:26px 23px 18px 0;
}
.Main h2{
  color:#FFFFFF;
  font:normal 15px tahoma;
  background:url(h2_bg.jpg) repeat-x scroll 0 0;
  line-height:24px;
  padding-left:10px;
}
.clsFeatured_Media li,.clsNew_Members li{
  display:inline;
  text-align:center;
  float:left;
}
.clsFeatured_Media h4{
  padding:10px 0 12px;
}
.clsNew_Members h4{
  padding:10px 0 0;
}
.clsFeatured_Media h4 a,.clsNew_Members H4 a{
  width:100px;
  text-align:center;
  font:normal 12px Trebuchet MS;
  color:#FFFFFF;
  /*line-height:30px;*/
}
.clsFeatured_Media img,.clsNew_Members img{
  border:2px solid #636363;
}
.clsNew_Members p{
  padding:0 0 17px 0;
}
.clsNew_Members p a{
  clear:both;
  color:#bababa;
  font-weight:bold;
  padding:0 0 0 14px;
}

.clsLatest_Media li{
  float:left;
  width:140px;
  border:1px solid #636363;
  text-align:center;
  margin:5px;
  padding:11px 0;
}
.clsLatest_Media img{
  border:2px solid #636363;
}
.clsLatest_Media .white{
  border:2px solid #ffffff;
}
.clsLatest_Media h4{
  text-align:left;
  padding:5px 0 0 11px;
}
.clsLatest_Media h4 a{
  text-align:left;
  color:#FF0000;
  font:normal 12px trebuchet MS;
}
.clsLatest_Media p{
  color:#bababa;
  font:normal 12px trebuchet MS;
  text-align:left;
  padding-left:11px;
}
.clsPage_No ul{
  float:right;
  padding:24px 40px 17px 0;
}
.page_no li{
  background:url(pageno_img.jpg) no-repeat scroll 0 0;
  float:left;
  border:0;
  width:29px;
  text-align:center;
  padding:0;
  margin:0 4px 0 0;
}
.page_no li a{
  display:block;
  color:#FFFFFF;
  width:29px;
  height:29px;
  padding-top:4px;
}
.page_no li a:hover,.page_no .active a{
  background:url(pageno_img_hover.jpg) no-repeat scroll 0 0;
}
.page_no .none{
  background:#1a1b1b;
}
/*END OF MAIN*/

.clsSidebar{
  float:left;
  width:282px;
  padding:24px 0 0 0;
}
.clsSidebar h2{
  color:#FFFFFF;
  font:normal 15px tahoma;
  background:url(h2_bg.jpg) repeat-x scroll 0 0;
  line-height:24px;
  padding-left:10px;
}
.clsSidebar p{
  padding-left:10px;
}
.clsSidebar p,.clsSidebar p a,.clsSidebar li a{
  color:#bababa;
}
.clsLogin,.clsCategories,.clsNews,.clsTags,.clsFriends,.clsSidebar_img{
  border:1px solid #4b4b4b;
  border-top:0;
  margin:5px;
}
.clsLogin .clsLoginUser{
  height:17px;
  width:166px;
  color:#FFFFFF;
  background:#282828;
  border:1px solid #4b4b4b;
  margin:17px 13px 0px 12px;
}
.clsLogin .clsPassword{
  height:17px;
  width:166px;
  color:#FFFFFF;
  background:#282828;
  border:1px solid #4b4b4b;
  margin:0px 13px 0px 14px;
}
.clsLogin p.Password{
  margin:17px 0px 16px 0px;
}
.clsLogin .clsRememberMe{
  background:url(login.jpg) no-repeat scroll 0 0;
  border:0;
  font:bold 12px trebuchet MS;
  height:19px;
  cursor:pointer;
}
.clsLogin p span{
  font-weight:bold;
  padding:0 18px 0 25px;
}
.clsLogin p.ForgotPassword{
  padding:17px 0 17px 10px;
}
.clsLogin p.NoAccount{
  padding-bottom:26px;
}
.clsCategories p{
  padding:25px 0 25px 23px;
}
.clsNews p{
  font-weight:bold;
  padding:22px 0 28px 83px;
  color:#bababa;
}
.clsTags p.style1{
  line-height:22px;
  padding:17px 26px 18px 13px;
}
.clsTags p.style2{
  text-align:center;
  padding:0 0 13px 0;
}
.clsTags p.style2 a{
  text-decoration:underline;
}
.clsFriends ul{
  padding:20px 0 0 32px;
}
.clsFriends ul li{
  display:block;
  line-height:22px;
} 
.clsFriends p{
  padding:18px 0 16px 18px;
}
.clsFriends p a{
  padding:0 0 0 15px;
  text-decoration:underline;
}
.Footer p{
  color:#FFFFFF;
  background:#1a1b1b;
  text-align:center;
  line-height:20px;
  padding:0 0 15px 0;
}
.Footer p a{
  color:#FFFFFF;
  text-decoration:underline;
  padding-left:10px;
}
.Footer .copy_right{
  padding:15px 0 0 0;
}