.content {
  > .title {
    background:url(/assets/thatch.png);
    padding-top: 12px;
    margin-top:-8px;
    border-bottom: 1px solid #CCC;
    color:#666;

    h1 {
      width: 951px;
      margin: auto;
      display: block;
      padding: 15px 0 10px;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      font-weight:normal;

      a {
        color: #298CCB;
        text-decoration: underline;
      }
    }
  }

  .courses {
    width: 951px;
    margin: auto;

    .title {
      a {
        color: #298CCB;
        font-size:20px;
      }
    }

    .course {
      padding-top:40px;

      .lesson {
        padding:0 5px;
        border-top:1px solid #e4e4e4;

        &:last-child {
          // border-bottom:1px solid #e4e4e4;
        }

        &.even {
          background-color:#fdfdfd;//#f5f5f5;
        }

        &.odd {
          // background-color:#f5f5f5;
        }

        a {
          color:#666 !important;
          font-size:16px;
          line-height:39px;
          float:left;
        }

        .q-markers {
          float:right;
          margin-top:14px;
          max-width:50%;
          max-height:14px;
          overflow:hidden;

          .q-marker {
            float:right;

            img {
              width:14px;
              height:14px;
              background-image:url('reviewer/q-sprites-small3.png');
            }

            &.unanswered{
              img{
                background-position:-42px 0px;
              }
            }

            &.wrong{
              img{
                background-position:-28px 0px;
              }
            }

            &.first-correct{
              img{
                background-position:-14px 0px ;
              }
            }

            &.multi-correct{
              img{
                background-position:0px 0px;
              }
            }
          }
        }
      }
    }
  }
}

.reviewer.embedded {
  top: 25px;
}

.reviewer{
  background-image:url(thatch.png);
  overflow:hidden;

  .title {
    width:951px;
    margin:auto;
    display:block;
    margin-top:12px;
    padding:15px 0 10px;
    font-size:16px;
    line-height:20px;
    position:relative;

    a {
      color:#298ccb;
      text-decoration:underline;
    }
  }
  
  .reviewer-container {
    background-color:white;
    min-width:100%;
    width:inherit;
    height:inherit;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
    position:relative;
    z-index:1;

    .reviewer-inner {
      width:951px;
      margin:auto;
      padding:50px 40px 50px 40px;
    }
  }

  #media {
    z-index:1;
    width:560px;
    height:355px; //399
    float:right;
    position:relative;

    #video_container {
      #video {
        height:315px;//399
        background-color:#f9f9f9;
      }

      #video_control{
        position:absolute;
        width:120px;
        height:120px;
        cursor:pointer;
        top:50%;
        left:50%;
        margin:-80px 0 0 -60px;

        display:none;
      }
    }


    #video_control.play{
      background:url('reviewer/play.png') no-repeat center center;
    }

    #video_control.replay{
      background:url('reviewer/replay.png') no-repeat center center;
    }

    #video_control.pause{
      background:url('reviewer/pause.png') no-repeat -99999px;
    }

    #video_container:hover #video_control.pause{
      background-position:center center;
    }

    #video_container.playing:hover .progressBar{
      display:block;
    }

    #progress_bar_container {
      height:30px;

      #progress_bar {
          width:558px; //708 for small player
          height:10px;
          border:1px solid #888;
          // border-color:#47A6D8;
          background-color:#fdfdfd;
          overflow:visible !important;


        .elapsed {
            height:10px;
            width:0%;
            background-color:#218dd2;//#bbb;//#218dd2;//#47A6D8; //a9d9ed
            overflow:visible !important;
          
        }

        #q-markers {
          position:absolute;
          width:558px;//708 for small player
          overflow:visible !important;

          .q-marker-spacer {
            position:absolute;
            left:-1px;

            .q-marker {
              height:20px;
              width:1px;
              // border-right:1px solid #0066b2;

              .q {
                img.small{
                  height:14px;
                  width:14px;
                  background-image:url(reviewer/q-sprites-small3.png);
                  position:relative;
                  top:18px;
                  left:-7px;
                  cursor: pointer;
                }
                img.large {
                  height:28px;
                  width:29px;
                  background-image:url(reviewer/q-sprites-large2.png);
                  position:relative;
                  top:15px;
                  left:-14px;
                  z-index:1;
                }  
              }

              &.q-marker.unanswered{
                background-color:#999;
                border-left:1px solid #bbb;
                .q {
                  img.small{
                    background-position:-42px 0px;
                  }
                  img.large{
                    background-position:-87px 0px;
                  }
                }
              }

              &.q-marker.wrong{
                background-color:#e94325;//#218dd2;//#666;
                border-left:1px solid #f29286;
                .q {
                  img.small{
                    background-position:-28px 0px;
                  }
                  img.large{
                    background-position:-58px 0px;
                  }
                }
              }

              &.q-marker.first-correct{
                background-color:#0066b2;//#218dd2;//#666;
                border-left:1px solid #65b6de;
                .q {
                  img.small{
                    background-position:-14px 0px ;
                  }
                  img.large{
                    background-position:-29px 0px;
                  }
                }
              }

              &.q-marker.multi-correct{
                background-color:#0066b2;//#218dd2;//#666;
                border-left:1px solid #65b6de;
                .q {
                  img.small{
                    background-position:0px 0px;
                  }
                  img.large{
                    background-position:0px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #questioner {
    width:331px;
    float:left;
    z-index:0;
    border-right:1px dotted #ccc;
    padding:0px 28px 50px 0;
    min-height:300px;
    position:relative;

    #timer-container {
      height:30px;
      width:331px;
      margin:-10px 0 10px;
      // position:relative;
      

      .q {
        float:left;

        img {
          height:28px;
          width:29px;
          background-image:url(reviewer/q-sprites-large2.png);

          &.unanswered{
            background-position:-87px 0px;
          }

          &.wrong{
            background-position:-58px 0px;
          }

          &.first-correct{
            background-position:-29px 0px;
          }

          &.multi-correct{
            background-position:0px 0px;
          }
        }
      }

      #timer {
        float:right;
        .outer {
          margin-top:10px;
          height:8px;
          width:290px;

          border: 1px solid #47A6D8;

          .inner{
            height:8px;
            width:25%;
            background-color:#a9d9ed;
          }
        }
      }
    }

    .question {
      font-size:16px;
      color:#4d4d4d;
      line-height:19px;
      padding:0 0 5px 0;
      width:320px;
    }

    #answers {
      .button {
        font-size:14px;
        line-height:18px;
        // padding:8px;
        padding: 5px 10px;

        color:#444;
        margin: 10px 0 0 5px;
        text-align:left;

        &.grey {
          color:#bbb;
          border-color:#ccc;
          background: #fafafa !important;
          cursor: default;

          &:hover {
            background: #fafafa !important;
          }
        }

        &.wrong {
          color:#ea401f;
          border:#ccc 1px solid;
        }

        &.right {
          color:#0767b0;
          border:#ccc 1px solid;
        }

        &.blue {
          border-color:#47A6D8;
          background-color:#a9d9ed;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9edf4), color-stop(1, #a9d9ed));
          background: -moz-linear-gradient(center top, #d9edf4 5%, #a9d9ed 100%);
          cursor: pointer;

          &:hover {
            background-color:#a9d9ed;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9d9ed), color-stop(1, #d9edf4));
            background: -moz-linear-gradient(center top, #a9d9ed 5%, #d9edf4 100%);
          }
        }
      }
    }

    #controls {
      position:absolute;
      bottom:-7px;
      width: 350px;
      /*margin-left: 5px;*/
      /*height: 36px;*/

      .button {
        font-size:14px;
        line-height:18px;
        border-color:#b3b3b3;
        padding:8px;
        margin: 10px 10px 0 0;

        color:#444;
        width:142px;
        display:inline;
        float:left;
        /*display: block;*/

        background-color:#F2F2F2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #F2F2F2));
        background: -moz-linear-gradient(center top, #ffffff 5%, #F2F2F2 100%);

/*        #continue_button {
          float: right !important;
        }*/

        &.disabled {
          opacity: .4;
          cursor: default;
          background-color:#F2F2F2 !important;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #F2F2F2)) !important;
          background: -moz-linear-gradient(center top, #ffffff 5%, #F2F2F2 100%) !important;
        }

        &:hover {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F2F2F2), color-stop(1, #ffffff));
          background: -moz-linear-gradient(center top, #F2F2F2 5%, #ffffff 100%);
        }
      }

      #next_button, #continue_button {
        margin-right:0;
      }
    }
  }

  .notice {
    color:#bbb;
    font-size:12px;
    line-height:16px;
    width:500px;
    margin:auto;
    padding-left:385px;
    text-align:center;
    position:relative;
    top:-118px;
    height:0;
    overflow:visible;
  }
}

//below are notes on how to produce the game styles

//correct
/*.reviewer{
  #timer {
    background:url(clock/dot_green.png) no-repeat left top;
    .clock .bg, .clock .front{background:url(clock/dot_green.png) no-repeat left top;}
  }
  #questioner {
    .question-box {
      .ribbon-wrapper {
        .ribbon-front {background-color: #FFF;}
        .ribbon-edge-topleft,
        .ribbon-edge-bottomleft {border-color: transparent #aaa transparent transparent;}
        .ribbon-edge-topright,
        .ribbon-edge-bottomright {border-color: transparent transparent transparent #aaa;}
        .ribbon-back-left {background-color: #EFEFEF;}
      }
    }
  }
}*/

//correct
/*.reviewer{
  #timer {
    background:url(clock/dot_red.png) no-repeat left top;
    .clock .bg, .clock .front{background:url(clock/dot_red.png) no-repeat left top;}
  }
  #questioner {
    .question-box {
      .ribbon-wrapper {
        .ribbon-front {background-color: #FFF;}
        .ribbon-edge-topleft,
        .ribbon-edge-bottomleft {border-color: transparent #aaa transparent transparent;}
        .ribbon-edge-topright,
        .ribbon-edge-bottomright {border-color: transparent transparent transparent #aaa;}
        .ribbon-back-left {background-color: #EFEFEF;}
      }
    }
  }
}*/

//begin session
.reviewer {

  .hide_video { 
    //position:absolute !important;
    //left:-10000px;
    //top:auto;
    //top:0px;
    //left:0px;
    //width:1px !important;
    //height:1px !important;
    //overflow:hidden;
    //z-index:-1000;
    }

  .show_video { 
    position:relative;
    width:100%;
    height:100%;}
    
  .dashboard {
    display:none !important;
    padding-top:2em;
    width:660px;
    height:400px;

    &.with_timer {
      height:inherit;
    }

    #questions, #progress_chart, #get_started, #todays_goal, #continue {
      margin:1.31em auto;
      padding:.62em;
      font-size:43px;
      line-height:1.62em;
      color:#aaa;
    }

    #questions {
      display:none;
      #questions-line {
        border-top: 5px solid #999;
        margin-top:34px;
        margin-right:8px;
        width:590px;
        float:right;

        .question {
          font-size:16px;
          height:80px;
          width:80px;
          background:url(clock/dot_grey.png) no-repeat left top;
          margin:1em;
          position:relative;
          margin-top:-43px;
          float:left;
          line-height:80px;
          text-align:center;

          &.first {margin-left:32px;}
        }
      }
    }
  }

  // #questioner {display:none !important;}*/
  .questioner-box {display:none !important;}
}
  
.fg-tooltip {
  padding: .62em;
  width: 8em;
  border-width: 2px !important;
  position: absolute;
  font-size:16px;
  line-height:1.62em;
  /*min-height:inherit;*/
  background:#F2F2F2;
}
.fg-tooltip .fg-tooltip-pointer-down, .fg-tooltip .fg-tooltip-pointer-down-inner, .fg-tooltip .fg-tooltip-pointer-up-inner {
  position: absolute; 
  width:0; 
  height:0; 
  border-bottom-width: 0;
  background: none;
}
.fg-tooltip .fg-tooltip-pointer-up {	
  border-left: 7px solid transparent; 
  border-right: 7px solid transparent;
  border-top-width: 14px;
  bottom:	-14px;
  right: auto;
  left: 50%;
  margin-left: -7px;
}
.fg-tooltip .fg-tooltip-pointer-down {	
  border-left: 7px solid transparent; 
  border-right: 7px solid transparent;
  border-top-width: 14px;
  bottom:	-14px;
  right: auto;
  left: 50%;
  margin-left: -7px;
}
.fg-tooltip-right .fg-tooltip-pointer-down {
  border-left: 17px dotted transparent;
  border-right: 0;
  border-top-width: 14px;
  bottom: -14px;
  right: 1em;
  left: auto;
  margin: 0;
}

.fg-tooltip .fg-tooltip-pointer-down-inner {
  border-top: 5px solid #767676;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position:absolute;
  bottom: 5px;
  right: -6px;
}

.fg-tooltip .fg-tooltip-pointer-up-inner {
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 10px solid #F2F2F2;
  bottom: auto;
  top: -10px;
  left: 50%;
}

.guide {
  position: absolute;
  font-size:24px;
  color:#eee;
  border:2px solid #ccc;
  box-shadow:3px 6px 20px rgba(0, 0, 0, 0.5);

  .fg-tooltip-pointer-left-inner {
    border-right: 25px solid #777;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    bottom: auto;
    position:absolute;
    // top: -14px;
    left: -22px;
  }

  .fg-tooltip-pointer-left-outer {
    border-right: 25px solid #ccc;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    bottom: auto;
    position:absolute;
    // top: -14px;
    left: -25px;
  }

  .fg-tooltip-pointer-right-inner {
    border-left: 25px solid #777;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    bottom: auto;
    position:absolute;
    // float:right;
    // top: -14px;
    right: -22px;
  }

  .fg-tooltip-pointer-right-outer {
    // float:right;
    border-left: 25px solid #ccc;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    bottom: auto;
    position:absolute;
    // top: -14px;
    right: -25px;
  }

  .fg-tooltip-pointer-down-inner {
    border-top: 25px solid #767676;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position:absolute;
    bottom: -22px;
    right: 10px;
  }

  .fg-tooltip-pointer-down-outer {
    border-top: 25px solid #ccc;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position:absolute;
    bottom: -25px;
    right: 10px;
  }

  .fg-tooltip-pointer-up-inner {
    border-bottom: 25px solid #767676;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: -22px;
    left: 10px
  }

  .fg-tooltip-pointer-up-outer {
    border-bottom: 25px solid #CCC;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: -25px;
    left: 10px;
  }

  .button {
    font-size:26px;
    line-height:1.31em;
    margin:0 -3px 0 8px;
    display:inline;

    float: right;
    margin-top: -50px;
    position: relative;
    top:-5px;
    left:10px;
    margin-right: 3px;

    text-align:center;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fff8f), color-stop(1, #5de83a) );
    background:-moz-linear-gradient( center top, #8fff8f 5%, #5de83a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fff8f', endColorstr='#5de83a');
    background-color:#8fff8f;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border:1px solid #dcdcdc;
    color:#1B7A02;
    font-weight:normal;
    padding:.31em .62em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
  }

  &.read_question {
    width: 283px;
    height: 82px;
    /*top: 210px;*/
    left: 30px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;

    .button {
      top: 50px;
      left: -70px;
      line-height:1em;
    }
  }

  &.answer_question {
    width: 207px;
    /*position: absolute;*/
    // height: 34px;
    /*top: 157px;*/
    left: 386px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;

    .fg-tooltip-pointer-left-inner {
      // top: 8px;
    }

    .fg-tooltip-pointer-left-outer {
      // top: 8px;
    }
  }

  &.click_play {
    // height: 94px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;

    &.right {
      width: 300px;
      top: 370px;
      left: 32px;
    }

    &.wrong {
      top: 370px;
      left: 82px; 
      width: 250px;    
    }
  }

  &.during_video {
    width: 314px;
    top: 382px;
    left: 19px;    
    // height: 94px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;
  }

  &.click_next {
    width: 218px;
    // height: 94px;
    top: 395px;
    left: 66px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;
  }

  &.incorrect_answer {
    width: 253px;
    // height: 94px;
    top: 66px;
    left: 395px;
    display: none;
    z-index: 1011;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;
  }

  &.correct_answer {
    width: 175px;
    height: inherit;
    top: 70px;
    left: 396px;
    z-index: 1011;
    display: none;
    background: #767676;
    // line-height:2em;
    box-shadow:2px 2px 9px #111;

    .fg-tooltip-pointer-left-inner {
      top: 8px;
    }

    .fg-tooltip-pointer-left-outer {
      top: 8px;
    }
  }

  &.show_help {
    width: 262px;
    top: 367px;
    left: 40px;

    display: none;
    z-index: 1011;
    background: #767676;
    box-shadow:2px 2px 9px #111;

    .fg-tooltip-pointer-down-inner {
      right: 117px;
    }

    .fg-tooltip-pointer-down-outer {
      right: 117px;
    }
  }

  &.show_progress {
    width: 283px;
    top: 427px;
    left: 436px;

    display: none;
    z-index: 1011;
    background: #767676;
    box-shadow:2px 2px 9px #111;

    .button {
      position:relative;
      top:0px;
      left:-10px;
      margin:0;

      line-height:1em;
    }
  }

  &.show_goal {
    width: 276px;
    top: 202px;
    left: 211px;

    display: none;
    z-index: 1011;
    background: #767676;
    box-shadow:2px 2px 9px #111;

    .button {
      position:relative;
      top:0px;
      left:3px;
      margin:0;

      line-height:1em;
    }
  }

  &.show_continue {
    width: 180px;
    top: 504px;
    right: 420px;

    display: none;
    z-index: 1011;
    background: #767676;
    box-shadow:2px 2px 9px #111;

    .fg-tooltip-pointer-up-inner {
      left: 120px;
    }

    .fg-tooltip-pointer-up-outer {
      left: 120px;
    }
  }

  &.progress_update {
    width: 256px;
    top: 180px;
    right: 280px;

    display: none;
    z-index: 1011;
    background: #767676;
    box-shadow:2px 2px 9px #111;
  }
}

.dashboard {
  background:white;
  color: #606060;
  box-shadow: 0px 1px .3em 2px #999;
  width: 590px;
  height: 300px;
  position: absolute;
  z-index: 1000;
  
  .title {
    padding: .62em;
    background: #F8F8F8;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    color: #606060;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    
  &.welcome {

    position: absolute !important;
    height: 200px !important;
    width:453px;
    top: 40% !important;

    .message {
      padding:0 20px;

      p {
        font-size:39px;
        line-height:1.62em;
        padding:0 0 .1em;
        cursor: default;

        &.body {
          font-size:30px;
          color: #606060;
        }
      }

      .get_started {
        width: 65px;
        font-size:30px;
        line-height:1em;
        margin:0 auto;
        position: relative;
        top:-7px;

        text-align:center;
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fff8f), color-stop(1, #5de83a) );
        background:-moz-linear-gradient( center top, #8fff8f 5%, #5de83a 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fff8f', endColorstr='#5de83a');
        background-color:#8fff8f;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border-radius: 6px 6px 6px 6px;
        border:1px solid #dcdcdc;
        color:#1B7A02;
        font-weight:norm;
        padding:.31em .62em;
        text-decoration:none;
        text-shadow:1px 1px 0px #ffffff;

        &.get_started:hover {
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5de83a), color-stop(1, #8fff8f) );
          background:-moz-linear-gradient( center top, #5de83a 5%, #8fff8f 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5de83a', endColorstr='#8fff8f');
          background-color:#5de83a;
          cursor:pointer;
        }

        img {
          padding:13px;
        }
      }
    }
  }

  &.with_timer {
    height: 180px;
    width: 440px;
    .message {
      height:107px;
      // background-color:red;
      width:390px;
      padding:20px;

      p {
        font-size:39px;
        line-height:1.62em;
        padding:0 0 .1em;

        &.body {
          font-size:30px;
          color: #606060;
        }
      }

      .get_started {
        font-size:30px;
        line-height:1.31em;
        margin:0 -3px 0 8px;
        display:inline;
        margin-top: -65px !important;

        float: right;
        margin-top: -50px;
        position: relative;
        margin-right: 14px;
        top:-5px;
        left:10px;

        text-align:center;
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fff8f), color-stop(1, #5de83a) );
        background:-moz-linear-gradient( center top, #8fff8f 5%, #5de83a 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fff8f', endColorstr='#5de83a');
        background-color:#8fff8f;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border-radius: 6px 6px 6px 6px;
        border:1px solid #dcdcdc;
        color:#1B7A02;
        font-weight:norm;
        padding:.31em .62em;
        text-decoration:none;
        text-shadow:1px 1px 0px #ffffff;

        &.get_started:hover {
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5de83a), color-stop(1, #8fff8f) );
          background:-moz-linear-gradient( center top, #5de83a 5%, #8fff8f 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5de83a', endColorstr='#8fff8f');
          background-color:#5de83a;
          cursor:pointer;
        }

        img {
          padding:13px;
        }
      }
    }
  }

  &.stats{
    top: 40% !important;
    width: 650px;
    height: 270px;
  }

  #progress_chart {
    position:relative;
    img {
      float:right;
      padding:70px 110px;
    }

    #current_level {
      top: 21px;
      right: 256px;
      width: 104px;
      background:#eee;
      .fg-tooltip-pointer-down-inner {
        border-top: 10px solid #eee !important;
      }
      .fg-tooltip-pointer-up-inner {
        border-bottom: 10px solid #eee !important;
      }
    }

    #progress_level {
      top: 21px;
      right: 256px;
      width: 104px;
      background:#8fff8f;
      .fg-tooltip-pointer-down-inner {
        border-top: 10px solid #8fff8f !important;
      }
      .fg-tooltip-pointer-up-inner {
        border-bottom: 10px solid #8fff8f !important;
      }
    }

    #goal_level {
      top: 164px;
      right: 168px;
      width: 100px;
      background:#FFE77A;
      .fg-tooltip-pointer-down-inner {
        border-top: 10px solid #FFE77A !important;
      }
      .fg-tooltip-pointer-up-inner {
        border-bottom: 10px solid #FFE77A !important;
      }
    }
    #max_level {
      display:none;
      top: -23px;
      right: 21px;
      width: 66px;

    }
    #get_started, #continue {
      font-size:24px;
      line-height:1.62em;
      margin:0 -3px 0 8px;
      display:inline;
      position:absolute;
      right: -80px;
      top:-2px;

      text-align:center;
      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fff8f), color-stop(1, #5de83a) );
      background:-moz-linear-gradient( center top, #8fff8f 5%, #5de83a 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fff8f', endColorstr='#5de83a');
      background-color:#8fff8f;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      border:1px solid #dcdcdc;
      color:#1B7A02;
      font-weight:norm;
      padding:.15em .31em;
      text-decoration:none;
      text-shadow:1px 1px 0px #ffffff;

      &#get_started:hover, &#continue:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5de83a), color-stop(1, #8fff8f) );
        background:-moz-linear-gradient( center top, #5de83a 5%, #8fff8f 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5de83a', endColorstr='#8fff8f');
        background-color:#5de83a;
        cursor:pointer;
      }

      img {
        padding:13px;
      }
    }

    .disabled {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fff8f), color-stop(1, #5de83a) ) !important;
        background:-moz-linear-gradient( center top, #8fff8f 5%, #5de83a 100% ) !important;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fff8f', endColorstr='#5de83a') !important;
        background-color:#8fff8f !important;
        cursor:default !important;
        opacity:.30 !important;;
      }
  }

  &.signup {
    position:absolute !important;

    width: 455px;
    height: 460px;

    .form-container {
      width:390px;
      padding:5px 23px;
      font-size: 38px;
      height:252px;

      div {
        height: 61px;
        line-height: 61px;
        padding-left: 78px;
        color: #FFFAE1;
        margin: 19px 0 19px 5px;

        input[type=email], input[type=password], input[type=text] {
          width:298px;
          border: solid #999 1px;
          border-radius: 3px;
          padding:.12em;
          font-size:26px;
          margin:0;
          color:#444;
          background-color:#edebe4 !important;
          margin-top:12px;
        }

        &.email {
          background:url(home/icons4.png) no-repeat 0 -122px;
        }

        &.password {
          background:url(home/icons4.png) no-repeat 0 -183px;
        }

      }
      
      .button {
        font-size: 38px;
        font-weight:bold;
        margin-top: 6px;
        margin-bottom: 5px;
        margin-left: 50px;
        padding: .1em .9em;
        color: #333;
        height: 65px;
        // display: inline;
        width: 310px;
        height: 65px;
      }

      // #signupdiv {
      //   display:block !important;
      //   width:200px !important;
      //   margin: 6px auto !important;
      // }

      .continue-container {
        text-align:center;
        padding-left: 0px;
        padding:0;
        margin:0;
        line-height: 41px;
        height:inherit;

        .continue {
          font-size:23px;
          padding-left:20px;
        }
      }
    }
  }
}

.ui-dialog { 
  position: absolute;
  padding: .2em; 
  width: 675px; 
  overflow: hidden; 
}

.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-widget-overlay { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background:#999;
  opacity:.75;
  z-index:2;
}
.ui-dialog-titlebar-close {display:none;}

#header {
  position:relative;
  z-index:1002;
}

.edmodo {
  #my_eggs {
    float:left;
    margin:0px;
    opacity:.5;
    position:relative;
    top:-5px;
    margin-right:10px;
    display:block !important;
    
    &:hover {
      opacity:.7;
    }
  }
}

.egg_details {
  margin-top:27px;
  
  .egg_info {
     width:62%;
     float:left; 
     color:#606060;
     margin-bottom:1em;
     
     h2{font-size: 28px; font-weight: normal; color: #444444; margin-bottom: 17px;}
     h4{font-size: 17px; font-weight: normal; color: #737373; margin-bottom: .32em;}
    .egg_image {float:left;}
    .egg_info {float:left; margin: 0; width:100%; padding-top: 20px;}
    .egg_price {color: #b00000;}
    .review {margin-top:10px;}
    .lesson_list {
      margin-top: 10px;
      
      color: #606060;


      .title {

        background: #D6D6D6;
        
        .header {
          font-size: 16px;
          padding:.62em;
          color:#444; 
          display: block;
        }
      }
      
      .lesson_action {
        
        .content_select {
          font-size: 16px; 
          padding:.31em .62em;
          margin:.31em .31em .31em 0;
          float: right;
        }

        a {

          font-size: 16px; 
          padding:.31em .62em;
          margin:.31em .31em .31em 0;
          
          
          -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
          -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
          box-shadow:inset 0px 1px 0px 0px #ffffff;
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bde6ff), color-stop(1, #5cb8ed) );
          background:-moz-linear-gradient( center top, #bde6ff 5%, #5cb8ed 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bde6ff', endColorstr='#5cb8ed');
          background-color:#bde6ff;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #7fc0e3;
          display:inline-block;
          color:#005387;
          text-decoration:none;
          text-shadow:1px 1px 0px #d6f0ff;
          
          &:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb8ed), color-stop(1, #bde6ff) );
            background:-moz-linear-gradient( center top, #5cb8ed 5%, #bde6ff 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb8ed', endColorstr='#bde6ff');
            background-color:#5cb8ed;
            cursor: pointer;
          }
          &:active {
            position:relative;
            top:1px;
          }
        }
        &:hover {
            cursor: pointer;
          }
      }
      
      .get_all_lessons {text-align:right; display: block; float:right;}
      .table_header {font-size: 12px; font-weight: bold; color:#cf7006; padding:3px 0}
    }
    
    table {
      width:100%; 
      font-size: 16px; 
      color:#606060;
      border-width: 0px; 
      border-color: #fff; 
      border-spacing: 0px;
    
      tr, td {
        border-width: 0px; 
        border-color: #fff; 
        border-spacing: 0px; 
        text-align: center; 
        font-size: 16px; 
        padding:.31em;
      }
      tr.d0 td { 
        background-color: #fff;
      }
      tr.d1 td {
        background-color: #f4f4f4;
      }
      #title{
        width:200px; 
        color:#808080; 
        font-size: 10px; 
        font-weight: normal; 
        text-align: left; 
        padding-left: 10px;
      }
      #questions{width:100px; color:#808080; font-size: 10px; font-weight: normal; }
      #price{width:50px; color:#808080; font-size: 10px; font-weight: normal; }
      #buy{width:105px; color:#808080; font-size: 10px; font-weight: normal; }
      tr td.title_col{text-align: left; padding-left: 10px;}
    }
  }
  
  .content_submit {
    float: right;
  }

  .aside {
    margin-top:38px;
  }
}

.class_settings{
  margin-top: 64px;
  
  .settings_list {
    margin-top: -34px;
    width: 62%; 
    float: left;
    font-size: 16px;

    h2 {
      margin-bottom: 17px;
    }

    .title {
      background: #D6D6D6;
      overflow: hidden;
      .header {
        font-size: 16px;
        padding:.62em;
        color:#444; 
        display: block;
      }
    
    }

    .body {
      font-size: 16px;
      line-height: 1.62em;
      color: #444;

      #submit_button {
        font-size: 16px; 
        padding:.31em .62em;
        margin:.31em .31em .31em 0;
        float:right;
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bde6ff), color-stop(1, #5cb8ed) );
        background:-moz-linear-gradient( center top, #bde6ff 5%, #5cb8ed 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bde6ff', endColorstr='#5cb8ed');
        background-color:#bde6ff;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #7fc0e3;
        display:inline-block;
        color:#005387;
        text-decoration:none;
        text-shadow:1px 1px 0px #d6f0ff;
        
        &:hover {
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb8ed), color-stop(1, #bde6ff) );
          background:-moz-linear-gradient( center top, #5cb8ed 5%, #bde6ff 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb8ed', endColorstr='#bde6ff');
          background-color:#5cb8ed;
          cursor: pointer;
        }
        &:active {
          position:relative;
          top:1px;
        }
        &:hover {
          cursor: pointer;
        }        
      }
    }
  }

  table {
    width:100%; 
    font-size: 16px; 
    color:#606060;
    border-width: 0px; 
    border-color: #fff; 
    border-spacing: 0px;

    .lesson_action {
      .content_select {
        font-size: 16px; 
        padding:.31em .62em;
        margin:.31em .31em .31em 0;
        float: right;
        width: 100%;
      }
    }

    tr, td {
      border-width: 0px; 
      border-color: #fff; 
      border-spacing: 0px; 
      text-align: center; 
      font-size: 16px; 
      padding:.31em;
    }
    tr.white td { 
      background-color: #fff;
    }
    tr.gray td {
      background-color: #f4f4f4;
    }
    #title{
      width:300px; 
      color:#808080; 
      font-size: 10px; 
      font-weight: normal; 
      text-align: left; 
      padding-left: 10px;
    }
    #content{width:100px; color:#808080; font-size: 10px; font-weight: normal; }
    #price{width:50px; color:#808080; font-size: 10px; font-weight: normal; }
    #buy{width:105px; color:#808080; font-size: 10px; font-weight: normal; }
    tr td.title_col{text-align: left; padding-left: 10px;}
  }  
}