.clr
#footer
  .shell
    / .links
    /   %h4 StudyEgg
    /   %ul
    /     %li
    /       %a{:href=>"/about"} About
    /     %li
    /       %a{:href=>"/team#josh"} The Team
    /     //%li
    /     //    %a{:href=>"#{STUDYEGG_PATH}/story"} Josh's Story

    / .links
    /   %h4 Legal
    /   %ul
    /     %li
    /       %a{:href=>"/privacy"} Privacy Policy
    /     %li
    /       %a{:href=>"/tos"} Terms of Service
    /     //%li
    /     //    %a{:href=>"#{STUDYEGG_PATH}/returns"} Return Policy

    / .links
    /   %h4 Contact
    /   %ul
    /     %li
    /       %a{:href=>"mailto:info@studyegg.com"} Email Us
    /     //%li
    /     //    %a{:href=>"http://www.facebook.com/StudyEgg", :target=>"_blank"} Facebook
    /     //%li
    /     //    %a{:href=>"http://twitter.com/#!/studyegg", :target=>"_blank"} Twitter
    /     %li
    /       %a{:href=>"http://blog.studyegg.com", :target=>"_blank"} Blog

    / .links
    /   %h4 Zendo Labs, Inc.
    /   %ul
    /     %li 1 Davol Sq Suite 203
    /     %li Providence, RI 02903

    / .social
    /   %a.twitter-link{:href=>"http://twitter.com/#!/studyegg", :target=>"_blank"} Twitter
    /   %a.facebook-link{:href=>"http://www.facebook.com/StudyEgg", :target=>"_blank"} Facebook
    /   .cl
    / .cl
    / .bottom
    /   %div.copyright Copyright 2012 Zendo Labs, Inc. All rights reserved.