#header
  .shell
    #head
      .row-top
        %h2#logo
          %a.notext{:href=>"/"} Logo
        .usernav
          - unless current_user.nil?
            %a.first.active{:href=>"/lessons"} My Lessons
          - if current_user.nil?
            %ul
              %li
                %a.first.active#sign_up{:href=>"/users/sign_up"} Sign up
              %li
                %a.active#sign_in{:href=>"/users/sign_in"} Login
          - else
            %ul
              %li
                %a.first{:href=>"/users/edit"} Account
              %li
                =link_to "Logout", destroy_user_session_path, :method => 'DELETE', :id => 'logout'
        .cl
